@import "../../../app/variables.scss";

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--font-sf-compact-medium);

  button {
    flex: 1;
    padding-block: 8px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    transition: all 200ms ease-in;
    border-bottom: 2px solid transparent;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;

    &:hover {
      color: $accent;
      border-bottom: 2px solid $accent;
    }

    &[data-active="true"] {
      color: $accent;
      border-bottom: 2px solid $accent;
    }
  }
}
