@import "../../../app/variables.scss";

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  color: var(--secondary);
  padding-block: 10px;
  padding-inline: 30px;
  transition: all ease-in 300ms;

  &:hover {
    background-color: lighten($accent, 45%);

    .indicator {
      opacity: 1;
    }
  }
}

.indicator {
  position: absolute;
  width: 3px;
  background-color: $accent;
  left: 0;
  top: 0;
  opacity: 0;
  bottom: 0;
  transition: all ease-in 300ms;
}

.icon {
  margin-right: 4px;
  display: flex;
  align-items: center;
}
