.container {
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(33, 63, 125, 0.06);
}

.th {
  gap: 8px;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  flex-direction: row;
  color: rgba(84, 95, 125, 1);
  text-transform: uppercase;
}

.table {
  width: 100%;
}

.tr {
  display: grid;
  padding-block: 4px;
  align-items: center;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.td {
  max-width: 100%;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trbody {
  padding-block: 14px;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);

  &:last-child {
    border-bottom: none;
  }
}

.statusContainer {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  button {
    display: grid;
    margin-left: 50px;
    background: none;
    border: none;
    color: rgba(84, 95, 125, 1);
    align-items: center;
    font-size: 16px;
    justify-content: center;
  }
}

.status {
  text-transform: capitalize;
  padding: 10px;
  border-radius: 100px;
  width: fit-content;

  &[data-status="active"] {
    color: rgba(57, 205, 98, 1);
    background-color: rgba(57, 205, 98, .06);
  }

  &[data-status="blacklisted"] {
    color: rgba(228, 3, 59, 1);
    background-color: rgba(228, 3, 59, .06);
  }

  &[data-status="pending"] {
    color: rgba(233, 178, 0, 1);
    background-color: rgba(233, 178, 0, .06);
  }

  &[data-status="inactive"] {
    color: rgba(84, 95, 125, 1);
    background-color: rgba(84, 95, 125, .06);
  }
}

.footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.pageSize {
  display: flex;
  gap: 8px;
  align-items: center;
}

.menuButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  border-radius: 4px;
  width: 80px;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 63, 125, 1);
  background-color: rgba(33, 63, 125, 0.1);
  border: none;
}

.menuItems {
  display: flex;
  flex-direction: column;
  margin-block: 4px;
  background-color: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  backdrop-filter: blur(20px);
  width: 80px;
  padding: 4px 6px;

  button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    font-weight: 500;
    padding: 4px;
    background-color: transparent;
    font-size: 14px;
    color: rgba(33, 63, 125, 1);
    border: none;
    transition: all 300ms ease-in;
    border-radius: 4px;

    &:hover {
      background-color: rgba(33, 63, 125, 0.2);
    }
  }
}

.actions {
  width: 150px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 63, 125, 0.1);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  background-color: white;

  p {
    border-bottom: 1px solid rgba(33, 63, 125, 0.2);
    padding: 4px;
    font-weight: 500;
  }
}

.actioItems {
  padding-top: 10px;
  width: 100%;

  a {
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    transition: all 200ms ease-in;
    display: block;
    /* min-width: 146px; */

    &:hover {
      background-color: rgba(33, 63, 125, 0.2);
    }
  }
}
