.footer {
  display: flex;
  margin-top: 20px;
  align-items: start;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.pageSize {
  display: flex;
  gap: 8px;
  align-items: center;
}


.menuItems {
  display: flex;
  flex-direction: column;
  margin-block: 4px;
  background-color: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  backdrop-filter: blur(20px);
  width: 80px;
  padding: 4px 6px;

  button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    font-weight: 500;
    padding: 4px;
    background-color: transparent;
    font-size: 14px;
    color: rgba(33, 63, 125, 1);
    border: none;
    transition: all 300ms ease-in;
    border-radius: 4px;

    &:hover {
      background-color: rgba(33, 63, 125, 0.2);
    }
  }
}


.menuButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  border-radius: 4px;
  width: 80px;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 63, 125, 1);
  background-color: rgba(33, 63, 125, 0.1);
  border: none;
  cursor: pointer;
}
